<h2>ユーザー一覧(<%= @eventrooms.length %>人)</h2>

  <% @eventrooms.each do |e| %>
    <% @user_id = e.user_id %>
    <% user = User.find(@user_id) %>
    <div class ="name2">
      <%= link_to user.name ,user_path(user) %><br/>
    </div>
  <% end %>
