<% @user.followers.each do |user| %>
<table>
<tr>
 <td>  <%= user.name %> </td>
 <td><%= link_to '詳細', user_path(user) %></td>
 <td><%= render 'follow_form', user: user %></td>
</tr>

</table>
<% end %>
