<%= render 'user_header' %>
  <section class="page-section" id="about">
    <div class="container">
      <% @user.following.each do |user| %>
        <table>
        <tr>
          <td><%= link_to user.name,user_path(user) %><%= image_tag user.icon.url, size: "40x40" %></td>
          <td><%= render 'follow_form', user: user %></td>
        </tr>
        </table>
      <% end %>
    </div>
  </div>
