<%= render 'events_header' %>
<section class="page-section" id="about">
  <div class="container">
    <div class="form-signin">
      <h1 class="form-signin-heading">新規投稿</h1>
      <%= render 'form', event: @event %>
    </div>
    <%= link_to 'Back', events_path %>
  </div>
</div>
