<%= render 'user_header' %>
<section class="page-section" id="about">
  <div class="container">
    <%= render 'form', post: @post %>
    <%= link_to 'Show', @post %> |
    <%= link_to 'Back', posts_path %>
  </div>
</section>
