// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post_image {
  width: 80vw;
  height: 60vh;
  display: block;
}
.post {
    padding-top: 17px;
    margin-bottom: 10px;
    position: relative;
    width: 890px;
}
.post-section {
    clear: both;
    padding: 15px 0;
    border-top: 1px solid #DDD;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080;
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }
